In [1]:
import pandas as pd

In [2]:
phone = pd.read_csv('Data/smartphones.csv')

In [3]:
phone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1816 entries, 0 to 1815
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Smartphone   1816 non-null   object
 1   Brand        1816 non-null   object
 2   Model        1816 non-null   object
 3   RAM          1333 non-null   float64
 4   Storage      1791 non-null   float64
 5   Color        1816 non-null   object
 6   Free         1816 non-null   object
 7   Final Price  1816 non-null   float64
dtypes: float64(3), object(5)
memory usage: 113.6+ KB

In [4]:
phone.sample()

,Smartphone,Brand,Model,RAM,Storage,Color,Free,Final Price
1313,Blackview A90 4/64GB Azul Libre,Blackview,A90,4.0,64.0,Blue,Yes,177.86

In [5]:
phone.head()

,Smartphone,Brand,Model,RAM,Storage,Color,Free,Final Price
0,Realme C55 8/256GB Sunshower Libre,Realme,C55,8.0,256.0,Yellow,Yes,231.60
1,Samsung Galaxy M23 5G 4/128GB Azul Libre,Samsung,Galaxy M23,4.0,128.0,Blue,Yes,279.00
2,Motorola Moto G13 4/128GB Azul Lavanda Libre,Motorola,Moto G13,4.0,128.0,Blue,Yes,179.01
3,Xiaomi Redmi Note 11S 6/128GB Gris Libre,Xiaomi,Redmi Note 11S,6.0,128.0,Gray,Yes,279.99
4,Nothing Phone (2) 12/512GB Blanco Libre,Nothing,Phone (2),12.0,512.0,White,Yes,799.00

### 1.Agrupaci√≥n por Marca y Promedio de Precios Utiliza groupby para agrupar los smartphones por marca y calcula el precio promedio de cada una.

In [6]:
marcas_precio = phone.groupby('Brand')['Final Price'].sum()

In [7]:
marcas_precio

Brand
Alcatel          796.90
Apple         245979.87
Asus            2254.72
BQ               140.76
Blackview       5815.78
CAT             2269.25
Crosscall       3484.28
Cubot           6105.95
Doro             763.23
Fairphone        634.19
Funker           220.78
Gigaset          757.04
Google          4652.81
Hammer          5094.96
Honor          10681.92
Huawei         24463.92
LG               570.74
Lenovo           757.18
Maxcom           123.88
Microsoft        552.39
Motorola       22794.25
Nokia           4395.62
Nothing         5919.74
OPPO           38190.43
OnePlus        12564.99
POCO           21980.94
Qubo             313.94
Realme         36480.54
SPC             1130.40
Samsung       293007.50
Sony             496.46
Swissvoice       179.99
TCL             6771.20
Ulefone         7773.28
Vivo            8927.58
Xiaomi        114661.08
ZTE             2082.35
Name: Final Price, dtype: float64

### 2.Conteo de Modelos por Marca Emplea groupby para contar la cantidad de modelos diferentes que tiene cada marca.

In [8]:
modelos_por_marca=phone.groupby('Brand')['Model'].nunique()

In [9]:
modelos_por_marca

Brand
Alcatel        4
Apple         12
Asus           3
BQ             1
Blackview     11
CAT            6
Crosscall      7
Cubot         17
Doro           2
Fairphone      1
Funker         1
Gigaset        2
Google         6
Hammer         9
Honor         13
Huawei        17
LG             1
Lenovo         1
Maxcom         1
Microsoft      1
Motorola      27
Nokia         13
Nothing        2
OPPO          27
OnePlus       12
POCO          10
Qubo           2
Realme        34
SPC            7
Samsung       57
Sony           2
Swissvoice     1
TCL           13
Ulefone       18
Vivo          14
Xiaomi        53
ZTE            8
Name: Model, dtype: int64

### 3.RAM Promedio por Marca Usa groupby para determinar la cantidad promedio de RAM para cada marca de smartphone.

In [10]:
ram_por_marca=phone.groupby('Brand')['RAM'].mean()

In [11]:
ram_por_marca

Brand
Alcatel        2.857143
Apple               NaN
Asus           9.333333
BQ                  NaN
Blackview      4.384615
CAT            4.800000
Crosscall      3.333333
Cubot          5.264706
Doro           2.000000
Fairphone           NaN
Funker         2.000000
Gigaset        3.000000
Google         7.111111
Hammer         3.761905
Honor          5.653846
Huawei         5.739130
LG             6.000000
Lenovo        12.000000
Maxcom         3.000000
Microsoft      6.000000
Motorola       6.326923
Nokia          3.583333
Nothing       10.666667
OPPO           7.456522
OnePlus        9.333333
POCO           6.611940
Qubo           3.333333
Realme         6.290598
SPC            2.555556
Samsung        6.482085
Sony                NaN
Swissvoice     2.000000
TCL            3.542857
Ulefone        5.310345
Vivo           7.037037
Xiaomi         5.567723
ZTE            2.600000
Name: RAM, dtype: float64

### 4.Tabla Pivot de Precios M√°ximos por Color Crea una tabla pivot que muestre el precio m√°ximo de los smartphones para cada color.

In [13]:
phone.pivot_table(values='Final Price', index='Color', aggfunc='max')

           Final Price
Color
Black          1969.00
Blue           1839.00
Bronze         1131.66
Brown           419.00
Crystal         849.88
Gold           2119.00
Gray           1246.02
Green          2191.29
Orange          670.07
Pink           1281.61
Purple         2119.00
Rainbow         309.00
Red            1549.00
Silver         2119.00
Turquoise      2271.28
White          1802.94
Yellow         1549.00

### 5.Distribuci√≥n de Almacenamiento por Marca Con groupby, calcula la distribuci√≥n de la capacidad de almacenamiento para cada marca.

In [15]:
almacenimiento_por_marca=phone.groupby('Brand')['Storage'].value_counts()

In [16]:
almacenimiento_por_marca

Brand    Storage
Alcatel  32.0        3
         16.0        2
         64.0        2
Apple    256.0      83
         128.0      71
                    ..
Xiaomi   4.0         1
         16.0        1
ZTE      32.0        9
         64.0        5
         128.0       3
Name: count, Length: 117, dtype: int64

### 6.Precio Promedio por Combinaci√≥n de RAM y Almacenamiento Genera una tabla pivot que muestre el precio promedio para cada combinaci√≥n √∫nica de RAM y almacenamiento.

In [20]:
phone.pivot_table(values='Final Price', index=['RAM','Storage'], aggfunc='mean')

              Final Price
RAM  Storage
1.0  16.0       75.597500
2.0  16.0      130.053636
     32.0      122.084722
     64.0      120.196000
3.0  16.0      125.095000
     32.0      176.381944
     64.0      152.840000
     128.0     129.910000
4.0  32.0      190.765000
     64.0      217.950305
     128.0     238.655367
6.0  64.0      281.400000
     128.0     361.968225
     256.0     411.396000
8.0  128.0     489.418351
     256.0     571.342826
     512.0    1046.453333
12.0 128.0     776.686364
     256.0     832.289412
     512.0    1240.923846

### 7.Cantidad de Smartphones Libres por Marca Utiliza groupby para contar cu√°ntos smartphones de cada marca est√°n libres de contratos con compa√±√≠as celulares.

In [23]:
smart_por_marca=phone.groupby('Brand')['Smartphone'].count()

In [24]:
smart_por_marca

Brand
Alcatel         7
Apple         292
Asus            3
BQ              1
Blackview      27
CAT             6
Crosscall       7
Cubot          34
Doro            3
Fairphone       1
Funker          1
Gigaset         3
Google          9
Hammer         21
Honor          27
Huawei         57
LG              1
Lenovo          1
Maxcom          1
Microsoft       1
Motorola       57
Nokia          13
Nothing         9
OPPO           92
OnePlus        22
POCO           67
Qubo            3
Realme        117
SPC            11
Samsung       458
Sony            2
Swissvoice      1
TCL            36
Ulefone        30
Vivo           27
Xiaomi        351
ZTE            17
Name: Smartphone, dtype: int64

### 8.Precio M√≠nimo, M√°ximo y Promedio por Marca Crea una tabla pivot que resuma el precio m√≠nimo, m√°ximo y promedio para cada marca de smartphone.

In [26]:
phone.pivot_table(values='Final Price', index='Brand', aggfunc=['min','max','mean'])

                   min         max        mean
           Final Price Final Price Final Price
Brand
Alcatel          70.98      226.98  113.842857
Apple           109.00     2119.00  842.396815
Asus            444.72     1021.00  751.573333
BQ              140.76      140.76  140.760000
Blackview       109.32      490.24  215.399259
CAT             116.99      588.99  378.208333
Crosscall       299.00      699.00  497.754286
Cubot            84.95      299.00  179.586765
Doro            179.47      291.88  254.410000
Fairphone       634.19      634.19  634.190000
Funker          220.78      220.78  220.780000
Gigaset         186.65      294.89  252.346667
Google          187.40     1166.96  516.978889
Hammer          160.51      539.68  242.617143
Honor           129.00     2271.28  395.626667
Huawei          109.00      999.00  429.191579
LG              570.74      570.74  570.740000
Lenovo          757.18      757.18  757.180000
Maxcom          123.88      123.88  123.880000
Microsoft       552.39      552.39  552.390000
Motorola        106.00     1199.00  399.899123
Nokia           111.01     1499.00  338.124615
Nothing         499.00      799.00  657.748889
OPPO            138.99     1299.00  415.113370
OnePlus         219.00     1333.00  571.135909
POCO            119.00      689.00  328.073731
Qubo             94.04      116.51  104.646667
Realme          111.60      852.59  311.799487
SPC              70.68      129.91  102.763636
Samsung          95.00     2191.29  639.754367
Sony            124.00      372.46  248.230000
Swissvoice      179.99      179.99  179.990000
TCL              80.63      568.91  188.088889
Ulefone          93.81      792.19  259.109333
Vivo            120.08     1152.98  330.651111
Xiaomi           77.98     1451.00  326.669744
ZTE              60.46      190.90  122.491176

### 9.Smartphones por Rango de Precios Emplea groupby para agrupar los smartphones en rangos de precios y cuenta cu√°ntos hay en cada rango.

In [33]:
phone ['Rang Price'] = pd.cut(phone['Final Price'],bins= [0,300,600,900,1200,1500,1800,2100,2400])

In [34]:
phone.groupby('Rang Price').size()

C:\Users\valen\AppData\Local\Temp\ipykernel_21748\783505828.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  phone.groupby('Rang Price').size()

Rang Price
(0, 300]        807
(300, 600]      501
(600, 900]      248
(900, 1200]     129
(1200, 1500]     69
(1500, 1800]     40
(1800, 2100]     17
(2100, 2400]      5
dtype: int64

### 10.Comparaci√≥n de Precios entre Smartphones Libres y con Contrato Genera una tabla pivot que compare el precio promedio de los smartphones libres (Free = Yes) versus los que est√°n atados a contratos (Free = No).

In [36]:
phone.pivot_table(values='Final Price', index='Free', aggfunc='mean')

      Final Price
Free
No     605.093182
Yes    489.371749